h2 {
    color: red;
}


nav

{ border:1px solid red;}


#navbar{
    background: black;
    
}


    
}
.nav-link
{ color: #ffcccc;
padding: 15px;
margin-right: 100px;
margin-left: 60px;
text-decoration:none;
    
}

#hi
{ color: yellowgreen;
padding: 20px;}